<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="robots" content="noindex, nofollow">
	  <script src="js/soon.min.js"></script>
	<meta name="google-site-verification" content="y6YNVjp9qFo_xKnIBghHLMt_ozi385sF3dxUHM94J34" />
	{% if page.layout == 'fourzerofour' %}<meta http-equiv="refresh" content="0;URL=/">{% endif %}
	<title>Harper &amp; Lewis - Relaunching Soon</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body class="bg-primary">
